{% extends "web/base.html" %}
{% block content %}
    <h1>Evaluation your risk perference</h1>
    <p></p>
   <style>
       .head{
           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           font-size: 30px;
       }
   </style>

    <form action="/portfolio/" method="get">
        
        <p class ="head">What's your age?</p>
        <p><input type="radio" name="age" value="18"> 18-24</p>
        <p><input type="radio" name="age" value="18"> 25-44</p>
        <p><input type="radio" name="age" value="18"> 45-64</p>
        <p><input type="radio" name="age" value="18"> Larger than 65 </p>

        <p class ="head">What's annual wage?</p>
        <p><input type="radio" name="wage" value="10"> Below 10000 USD</p>
        <p><input type="radio" name="wage" value="10"> Between 10000 USD and 50000 USD</p>
        <p><input type="radio" name="wage" value="10"> Between 50000 USD and 120000 USD</p>
        <p><input type="radio" name="wage" value="10"> Larger than 120,000 USD</p>

        <p class ="head">How long is yout expected investment period?</p>
        <p><input type="radio" name="wage" value="10"> Below 2 years</p>
        <p><input type="radio" name="wage" value="10"> 2 - 5 years</p>
        <p><input type="radio" name="wage" value="10"> 5 - 8 years</p>
        <p><input type="radio" name="wage" value="10"> Larger than 8 years</p>

        <p><input type="submit" value="Submit!"></p>
    </form>
{% endblock content %}